[submodule "src/llvm"]
	path = src/llvm
	url = git@github.com:deadly-platypus/llvm.git
	branch = fosbin-flop
[submodule "inc/CTPL"]
	path = inc/CTPL
	url = git@github.com:vit-vit/CTPL.git
[submodule "src/capstone"]
	path = src/capstone
    url = git@github.com:aquynh/capstone.git
    branch = next
