src/pin/
.clion.source.upload.marker
tests/taint-analysis/submembers

TestCases.inc

outputs/
.gdb_history
cmake-build-*/

.idea/

tests/build/
tests/desc/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
