[submodule "src/llvm"]
	path = src/llvm
	url = git@github.com:deadly-platypus/llvm.git
	branch = fosbin-flop
[submodule "inc/CTPL"]
	path = inc/CTPL
	url = git@github.com:vit-vit/CTPL.git
[submodule "src/capstone"]
	path = src/capstone
    url = git@github.com:aquynh/capstone.git
[submodule "src/fosbin-sleuth/qemu-afl/afl"]
	path = src/fosbin-sleuth/qemu-afl/afl
	url = git@github.com:deadly-platypus/afl.git
[submodule "src/fosbin-sleuth/qemu-afl/proc_maps_parser"]
	path = src/fosbin-sleuth/qemu-afl/proc_maps_parser
	url = git@github.com:ouadev/proc_maps_parser.git
[submodule "src/valgrind"]
	path = src/valgrind
	url = git://sourceware.org/git/valgrind.git
